body {
    background-image: url(https://i.pinimg.com/736x/03/ca/2a/03ca2a1090de0195348742d28d910389.jpg);
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
p {
    color: #ffffff;
}
h2,
h3 {
    color: #000000;
}
.styles-movies {
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-style: double;
    border-radius: 20%;
}
img {
    border-style: dashed;
    border-color: rgb(247, 247, 247);
}
i {
    color: rgb(255, 255, 255);
}
.img-hover:hover {
    transform: scale(150%);
}
.hidden {
    display: none;
}